<h1>Test</h1>

<button class='metric_dude' id="special">Hello</button>

<script>
  $(document).ready(function(){
      $('.metric_dude').on("click", function(x){
        dtf.saveMetrics(x);
      })
  });

</script>